body {
        font: 70%  Geneva, Arial, Helvetica, sans-serif;
    	background: #FFFFFF;
    	margin: 0;
    	padding: 0;
    	text-align: center;
    	color: #000000;
    }

    .twoColElsLtHdr #container {
    	width: 1000px;
    	background: #FFFFFF;
    	margin: 0 auto;
    	border: 1px solid #000000;
    	text-align: left;
    }
   
    .twoColElsLtHdr #header {
    	background: #ff8c00 ;
    	padding: 0 10px;
    }
    .twoColElsLtHdr #header h1 {
    	margin: 0;
    	padding: 10px 0;
    }
    #apDiv1 {
    position:absolute;
    	left:950px;
	top:10px;
	width:160px;
	height:60px;
	z-index:1;
}
       .twoColElsLtHdr #sidebar1 {
    	float: left;
    	width: 12em;
    	background: #FFFFFF;
    	padding: 15px 0;
    }
    .twoColElsLtHdr #sidebar1 h3, .twoColElsLtHdr #sidebar1 p {
    	margin-left: 10px;
    	margin-right: 10px;
    }


    .twoColElsLtHdr #mainContent {
    	margin: 0 1.5em 0 13em;
    }
    .twoColElsLtHdr #footer {
    	padding: 0 10px;
    	background:#FFFAFA;
    }
    .twoColElsLtHdr #footer p {
    	margin: 0;
    	padding: 10px 0;
    }

    .fltrt {
    	float: right;
    	margin-left: 8px;
    }
    .fltlft {
    	float: left;
    	margin-right: 8px;
    }
      .clearfloat {
     	clear:both;
        height:0;
        font-size: 1px;
        line-height: 0px;
    }

    .twoColElsLtHdr #sidebar1 { padding-top: 30px; }
    .twoColElsLtHdr #mainContent { zoom: 1; padding-top: 15px; }

a:link
{
color: #87CEFA;
}
a:visited
{
color: #00BFFF;
}

