* { padding: 0; margin: 0; }
html { height: 100%; } 
body {
  color: white;
  background-color: #8c8c8c;
  font-family: Geneva, Arial, Helvetica, sans-serif;  
  font-size: small;
}
#wrapper {
  color: black;
  background-color: white;
  width: 1000px;
  min-width: 600px;
  margin: 10px auto; 
}
#encabezado {
	position: relative;
	color: black; 
	background-color: #ff8c00;  
	padding-top: 10px;
	padding-right: 20px; 
	padding-bottom: 0; 
	padding-left: 20px;
}
    #encabezado img {
      background-color: white;
      padding: 5px;
      border: 5px solid #ff9c00;
    }
	#encabezado p {
	      position:absolute;
		  top: 10px; 
		  right: 10px;
		  font-weight: bold;  
	      padding: 5px 0 5px 0;
	      margin-bottom: 0;
	}
	
#sesion{ 
 text-align: right;
 color: black;
 background-color: #ff8c00; 
 background-repeat: repeat-y;
 background-position: top left;
 padding: 5px 10px 4px 10px; 
 border-bottom: 1px solid #8c8c8c;
} 
#navegacion { 
 float: left; 
 width: 130px; 
 padding-left: 10px; 
 padding-top: 20px; 

} 
#areatexto { 
  padding-top: 20px ;
  padding-right: 10px; 
  padding-bottom: 20px;
  padding-left: 20px; 
  margin-left: 120px;
}
#pie {
  color:gray;
  face:verdana;
  padding: 20px;
  padding-top: 10px; 
  border-top: 1px solid #8c8c8c; 
  margin-top: 20px; 
}
h1 { 
	font:verdana; 
	font-size: 150%; 
	color:#87CEFA;
} 
h2 { font-size: 130%; margin-bottom: 1em;}
strong { color: #4e9b88; }
a { text-decoration: none; outline: none; } 
a:link { color: #87CEFA;}
a:visited { color: #00BFFF; }
a:hover, a:focus { text-decoration: underline; }
a:active { color: white; background-color: #d90000; }
p, ul { 
  margin-top: 0 ;
  margin-right: 0 ;
  margin-bottom: 1em ;
  margin-left: 0; 
}  
li { 
  margin-top: 0 ; 
  margin-right: 0; 
  margin-bottom: 0; 
  margin-left: 1em; 
} 
